setuptools_scm
astropy-base>=5.3
bokeh>=3.1.1
colorcet
healpy
holoviews
hvplot
lsst-efd-client
matplotlib-base
numpy
pandas
panel>=1.1.0
param
psycopg2
pytz
scikit-learn
skyproj
tabulate
uranography>=1.4.1
rubin-scheduler>=3.18.0
rubin-sim>=2.6.0
pip
