name: Build and Upload Docs

"on":
  push:
    tags:
      - "*"
    branches:
      - "main"
  pull_request: {}
  workflow_dispatch:

jobs:
  build_sphinx_docs:
    name: Build and upload documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: "3.13"
          miniforge-version: latest
          channels: conda-forge,defaults
          show-channel-urls: true

      - name: Configure and install requirements and documenteer
        shell: bash -l {0}
        run: |
          conda config --set always_yes yes
          conda install --yes --file=requirements.txt
          conda install --yes pip
          pip install "documenteer[guide]"

      - name: Install schedview
        shell: bash -l {0}
        run: |
          echo `pwd`
          python -m pip install . --no-deps

      - name: Check conda and documenteer
        shell: bash -l {0}
        run: |
          conda list

      - name: Build docs
        shell: bash -l {0}
        run: |
          cd docs
          make html

      - name: Upload documentation
        uses: lsst-sqre/ltd-upload@v1
        with:
          project: "schedview"
          dir: "docs/_build/html"
          username: ${{ secrets.ltd_username }}
          password: ${{ secrets.ltd_password }}
